@model IEnumerable<Rail.Models.track_info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.From_stn)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.To_stn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Track_route)
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From_stn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To_stn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track_route)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
