@model Rail.Models.Station_Code

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Station_Code</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Station_Code1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Station_Code1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Station_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Station_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Station_Code1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
