@model Rail.Models.schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Source_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schdep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schdep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scharr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scharr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Train_number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
